body{
    font-family: 'Roboto', sans-serif;
}

.logo-header{
    color:#2196F3
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    font-family: 'Raleway';
}

.logo-header:hover{
    color:#2196F3;
}

.logo-footer{
    text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: 'Raleway';
}